@mixin ctcategory($color: var(--primary)) {
  width: fit-content;
  height: min-content;
  padding: 4px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 21px;
  color: $color;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

@mixin ctBtn(
  $background: var(--primary),
  $boderColor: var(--secondary),
  $hoverColor: $background,
  $color: var(--secondary)
) {
  padding: 18px 55px;
  font-size: 2.2rem;
  background-color: $background;
  border: 1px solid $boderColor;
  color: $color;
  cursor: pointer;
  &:hover {
    background-color: $color;
    color: $hoverColor;
  }
}

.title {
  font-size: 4rem;
  line-height: 56px;
  font-weight: 700;
  margin: 10px 0 8px;
  padding: 0 0 10px;
  font-family: "Cormorant Infant", serif;
}

.desc {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#slider {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--primary);
  padding: 85px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .slider-wrapper {
    padding: 0 40px;
    .title {
      color: var(--white);
      font-size: 6rem;
      padding: 10px 0;
      border-bottom: 1px solid var(--secondary);
      border-top: 1px solid var(--secondary);
    }
  }
}
#content {
  .about {
    padding: 140px 0 180px;
    overflow: hidden;
    &-section {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      position: relative;
    }
    &-author {
      width: 480px;
      padding: 35px 60px 30px;
      border-radius: 4px;
      background-color: var(--white);
      box-shadow: 0 0 14px 0 rgb(0 0 0 / 19%);
      position: absolute;
      left: 50%;
      bottom: -10%;
      transform: translateX(-50%);
      .info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .avatar {
          overflow: hidden;
          border-radius: 50%;
          width: 72px;
          height: 72px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .intro {
          margin-left: 25px;
          .title,
          .desc {
            padding: unset;
            margin: unset;
          }
          .title {
            font-size: 3rem;
          }
        }
      }
    }
    &-content {
      .category {
        @include ctcategory;
      }
    }
    &-us-sign {
      margin: 15px 0 50px;
      .desc {
        line-height: 1.5;
        color: #555;
        text-transform: uppercase;
      }
    }
    button {
      @include ctBtn(var(--white), var(--secondary), var(--primary));
    }
    &-img {
      position: relative;
      .gold-pattern {
        width: 40%;
        z-index: -2;
        position: absolute;
        right: 0;
        animation: rotate 6s infinite linear;
      }
      .image {
        width: 85%;
        border-top-right-radius: 40%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .feature {
    height: fit-content;
    padding: 100px 0;
    background-image: url("../images/feature-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &-section {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      flex-basis: 1/4;
      padding: 40px 16px;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:not(:last-child) {
        border-right: 0.5px solid var(--border);
      }
      .img {
        width: 88px;
        height: 88px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        font-size: 3rem;
        margin: 25px 0 10px;
        padding: unset;
      }
      .desc {
        text-align: center;
        padding: unset;
      }
      a {
        font-size: 2rem;
        line-height: 30px;
        font-weight: 400;
        text-decoration: none;
        color: var(--secondary);
        padding: unset;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 991px) and (max-width: 1180px) {
  #content {
    .about {
      &-section {
        padding: 16px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 990px) {
  #content {
    .feature {
      &-section {
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-item {
        width: 45%;
        flex-basis: 1/2;
        &:not(:last-child) {
          border-right: unset;
        }
      }
    }
    .about {
      &-section {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-author {
        width: 98%;
        padding: 35px 20px 30px;
        bottom: -10%;
        border-radius: unset;
      }
      &-img {
        width: 100%;
        .image {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #content {
    .feature {
      &-section {
        flex-direction: column;
        justify-content: center;
      }
    }
    .about {
      &-section {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-author {
        width: 97%;
        padding: 35px 20px 30px;
        bottom: -10%;
        border-radius: unset;
      }
      &-img {
        width: 100%;
        .image {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 480px) {
  #content {
    .about {
      &-section {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-author {
        width: 95%;
        padding: 35px 20px 30px;
        bottom: -10%;
        border-radius: unset;
      }
      &-img {
        width: 100%;
        .image {
          width: 100%;
        }
      }
    }
    .feature {
      &-section {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
