// custum button
@mixin ctBtn(
  $background: var(--primary),
  $boderColor: var(--secondary),
  $hoverColor: $background,
  $color: var(--secondary)
) {
  padding: 18px 55px;
  font-size: 2.2rem;
  background-color: $background;
  border: 1px solid $boderColor;
  color: $color;
  cursor: pointer;
  &:hover {
    background-color: $color;
    color: $hoverColor;
  }
}
// custum title
@mixin ctcategory($color: var(--primary)) {
  width: fit-content;
  height: min-content;
  padding: 4px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 21px;
  color: $color;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

.category {
  @include ctcategory;
}
#slider {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--primary);
  padding: 85px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .slider-wrapper {
    padding: 0 40px;
    .title {
      color: var(--white);
      font-size: 6rem;
      padding: 10px 0;
      border-bottom: 1px solid var(--secondary);
      border-top: 1px solid var(--secondary);
    }
  }
}

#content {
  .blog {
    display: flex;
    flex-wrap: wrap;
    &-list {
      flex-wrap: wrap;
    }
    button {
      margin-top: 30px;
      @include ctBtn(var(--white), var(--secondary), var(--primary));
    }
  }
}
